<h4> <%= store %>: </h4>
<ul class="store_summary" id= "<%= store %>"
    <% products.take(16).each do |product| %>
        <!-- #start product partial -->
        <%= render :partial => 'product_summary', :locals => { :product => product } %>
    <% end %>
</ul>
