<div class="summary">
    <h4> <%= link_to store, latest_products_path(:stores => { store.to_s => 1}) %>: </h4>
    <ul class="store_summary" id= "<%= store %>"
        <% products.take(16).each do |product| %>
            <!-- #start product partial -->
            <%= render :partial => 'product_summary', :locals => { :product => product } %>
        <% end %>
    </ul>
    <span class="store_link clearfix"><%= link_to "View all products from #{store}", latest_products_path(:stores => { store.to_s => 1}) %></span>
</div>
